.home_header{
  background: #ffffff !important;
  padding: 0;
  height:60;
  .header_logo {
    height: 32px;
    width: 32px;
    background-image:  url('../assets/logo.svg') ;
    background-repeat: no-repeat ;
    background-size: 32px 32px;
    float: left;
    margin: 16px 10px;
  }
  .trigger{
    line-height: 64px;
    transition: color .3s;
    padding: 0px 15px;
    font-size: 22px;
    cursor: pointer;
    &:hover{
      color: #1890ff;
    }
  }
}